<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="profile-box">
            <img src="images/menu.png" class="menu-icon">
            <img src="images/setting.png" class="menu-icon">
            <img src="images/profile-pic.png" class="menu-icon">
            .<h3>Abhishek Kumar Gupta</h3>
            <p>Student at NIT Silchar,Assam</p>
            <div class="social-media">
                <img src="images/instagram.png">
                <img src="images/dribble.png">
                <img src="images/telegram.png">
            </div>
        <button type="button">Connect</button>
        <div class="profile-bottom">
            <p>Wanna know more about me ?</p>

        </div>
        </div>
    </div>
</body>
</html>